body { 
    background-color: #EEE;
}
 a{
   font family: Helvetica, Arial;
}

#container{
  background-color: #CD5C5C;
  width: 1000px;
  margin-left:auto;
  margin-right:auto;

}

#header{
  background-color:#000000;
  color: white;
  text-align: center;
  margin:none;
  }

#content{
  padding: 10px;


}


#nav{
  width: 200px;
  float: left;

}

#main{
width: 780px;
  float: right;

}

#footer{
  clear: both;
  
  


}
h1 {
  color:blue;
  font-size:100;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
   text-shadow: 2px 2px 4px #000000;

}

p{
  color:#6CA6CD;
  font-size:65;
  font-family: "Times New Roman", Times, serif;

}

<style>


.input1 {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 30px, 45px;
    color:#6CA6CD;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    width: 40px;
    font-weight: bold;
    text-decoration: none;
}





}
