h1 {
  color:blue;
  font-size:100;

}

p{
  color:blue;
  font-size:65;



}

input {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-sizing: 20px
}
<body style="background-color:191970;">