body { 
    background-image:url("https://www.tacoma.uw.edu/sites/default/files/styles/node_gallery_display/public/node_gallery/HomeCSS.png?itok=dTnNbY9z");
    
}
 a{
   font family: Helvetica, Arial;
}

#container{
  background-color: #CD5C5C;
  width: 1000px;
  margin-left:auto;
  margin-right:auto;

}

#header{
  background-color:#000000;
  color: white;
  text-align: center;
  margin:none;
  font-weight: bold;
  }

#content{
  padding: 10px;


}


#nav{
  width: 200px;
  float: left;

}

#main{
width: 780px;
  float: right;

}

#footer{
  clear: both;
  
  


}
h1 {
  color:blue;
  font-size:100;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
   text-shadow: 2px 2px 4px #000000;

}

p{
  color:#6CA6CD;
  font-size:65;
  font-family: "Times New Roman", Times, serif;

}


#input1 {

    padding: 40px 0px;
    width: 300px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    
}

.bttn1{
    background-image=url(https://www.publicdomainpictures.net/pictures/90000/velka/colour-blur-background-1399324285Lk8.jpg);
}
.bttn2{
    background-image= url();
    background-color: #4CAF50;
}

.bttn3{
    background-image= url();
    background-color: #4CAF50;
}

.bttn4{
    background-image=url(https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/box_surprise.png);
}

.bttn5{
    background-image=url(https://us.123rf.com/450wm/blankstock/blankstock1507/blankstock150708006/42810681-joystick-sign-icon-video-game-symbol-icon-on-blurred-background-vector.jpg?ver=6);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    width: 40px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}






